@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  color: white;

}

@media (min-width: 220px) {
  .trailer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 220px;
    float: none;
    min-height: 220px;
  }
}
.hidden-cursor {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hidden-cursor:hover {
  opacity: 1;
}

img {
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


img:hover {
  scale: 102%;
}

.loadss {
  width: 100px;
  height: 100px;
  display: grid;
}
.loadss::before,
.loadss::after {
  content: '';
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #766df4 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 0.5s infinite;
}
.loadss::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}

.flare {
  position: fixed;
  border: 5px solid #00f7ff2b;
  border-radius: 80%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(1px);
  background-color: black;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
}